<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' href="../static/assets/images/favicon2.ico">
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }
    </style>

    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>

<div class="btn btn-navbar">
    {% if session['user_id'] %}
        <a href="{{ url_for( 'home') }}">home</a>
        | <a href="{{ url_for( 'logout' ) }}">log out</a>

        {# Shows the create strategy button if there is no strategy #}
        {% if 'strategy' not in session %}
            | <a href="{{ url_for( 'create_strategy' ) }}">create strategy</a>
        {# Shows create indicator if there is a strategy #}
        {% else %}
            | <a href="{{ url_for( 'create_indicator' )}}">create indicator</a>

            {# Shows the create trigger button if there's > 2 indicators #}
            {% if session['indicator'][1] %}
               | <a href="{{ url_for( 'indicator_reference' ) }}">create trigger</a>
            {% endif %}
            
            {# shows the trade button if enabled by session #}
            {% if session['trade'] %}
                | <a href="{{ url_for( 'trades' ) }}">trades</a>
                | <a href="{{ url_for( 'portfolios' ) }}">day to day values</a>
            {% endif %}
        {% endif %}

    {# Default button bar if not logged in #}
    {% else %}
        <a href="{{ url_for( 'home') }}">home</a> |
        <a href="{{ url_for( 'register' ) }}">register</a> |
        <a href="{{ url_for( 'log_in' ) }}">log in</a>
    {% endif %}
    </div>

<body class="preview">
    <br>
    <!-- Flash messages -->
   {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
           <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
<div class=page>




    
<!-- Fork Me Ribbon -->
<a href="https://github.com/nsb2142/trading-wheel">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
<!-- End ribbon -->
    



</div>
{% block script %}
{% endblock %}

<footer>
Trading Wheel
| COMS4111 Project by Nate Brennand and Matt Garbis
| <a href="http://starlogs.net/#nsb2142/trading-wheel">Credits</a>
</footer>

</body>

</html>
