<!DOCTYPE html>
<html>

<head>
    <link rel='shortcut icon' href="../static/assets/images/favicon2.ico">
    <title>
    {% block title %}
    {% endblock %}
    </title>
</head>

<body>
<div class=page>
    <!-- Fork Me Ribbon -->
    <a href="https://github.com/nsb2142/trading-wheel"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

    <div class=nav>
    {% if session['user_id'] %}
        <a href="{{ url_for( 'home') }}">home</a>
        | <a href="{{ url_for( 'logout' ) }}">log out</a>
        | <a href="{{ url_for( 'create_strategy' ) }}">create strategy</a>
        {% if session['strategy'] %}
            | <a href="{{ url_for( 'create_indicator' ) }}">create indicator</a>
        {% endif %}
    {% else %}
        <a href="{{ url_for( 'home') }}">home</a> |
        <a href="{{ url_for( 'register' ) }}">register</a> |
        <a href="{{ url_for( 'log_in' ) }}">log in</a>
    {% endif %}
    </div>


<!-- Flash messages -->
   {% with messages = get_flashed_messages() %}
       {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
           <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
</div>
{% block script %}
{% endblock %}

<div class=footer>
Trading Wheel
</div>
</body>

</html>
