{% extends "base.html" %}

{% block title %}
Trading Wheel
{% endblock %}

{% block body %}
<h1>Your Portfolio Values</h1>

<table class="table table-bordered table-striped table-hover">
<tr class='info'>
	<td><b>Date</b></td>
	<td><b>Value</b></td>
	<td><b>Value of Securities</b></td>
	<td><b>Free Cash</b></td>
	<td><b>Day Change in Value</b></td>
</tr>
{% for day in portfolios %}
	{% if loop.index%40 == 0 %}
		<tr class='info'>
			<td><b>Date</b></td>
			<td><b>Value</b></td>
			<td><b>Value of Securities</b></td>
			<td><b>Free Cash</b></td>
			<td><b>Day Change in Value</b></td>
		</tr>
	{% endif %}
	<tr>	
	{% for column in day %}
		<td>{{column}}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

{% endblock %}
