{% extends "base.html" %}

{% block title %}
Trading Wheel
{% endblock %}

{% block script %}
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load('visualization', '1', {packages: ['annotatedtimeline']});
    function drawVisualization() {
      var data = new google.visualization.DataTable();
      {{ table_header }}
      
      data.addRows([
        {% for day in portfolios %}
	        [{{ day[0] }}, {{ day[1] }}, null, null, {{ day[2] }}, {{ day[3] }}]
        {% endfor %}
      ]);

      var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
          document.getElementById('visualization'));
      annotatedtimeline.draw(data, {'displayAnnotations': true});
    }
    google.setOnLoadCallback(drawVisualization);
    </script>
{% endblock %}


{% block body %}
<div id="visualization" style="width: 900px; height: 400px;"></div>
{% endblock %}
