{% extends "base.html" %}

{% block title %}
Trading Wheel
{% endblock %}

{% block body %}
<h1>Your Trades</h1>

<table class="table table-bordered table-striped table-hover">
<tr>
<td>Security&nbsp;&nbsp;</td>
<td>Action&nbsp;&nbsp;&nbsp;</td>
<td>Share Amount&nbsp;&nbsp;&nbsp;&nbsp;</td> 
<td>Allocation&nbsp;&nbsp;</td>
<td>Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td>Date</td>
</tr>

{% for row in trades %}
	<tr>	
	{% for column in row %}
		<td>{{ column }}</td>
	{% endfor %}
	</tr>
{% endfor %}

</table>

{% endblock %}
